* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 85%);
  padding: 1rem;
  font-family: "Inter";
  position: relative;
  height: 100vh;
}

h1 {
  font-size: 32px;
  color: chartreuse;
  text-align: center;
  margin-bottom: 24px;
  font-family: "Inter";
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
