.dialog-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(26, 26, 26, 0.7)

}

.dialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  max-width: 550px;
  height: 50%;
  background-color: hsl(0, 0%, 15%);
  outline: none;
  border: 1px solid hsl(0, 0%, 65%);
  padding: 0.8rem;
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px hsl(0, 0%, 7%);
  display: flex;
  flex-direction: column;
}

.title-input,
.content-input {
  padding: 0.3rem 0.6rem;
  color: hsl(0, 0%, 80%);
  display: block;
  width: 100%;
  margin-bottom: 12px;
  border: none;
  background-color: transparent;
}

.title-input {
  font-size: 1.5rem;
}

.content-input {
  padding: 0.3em 0.6em;
  flex: 1;
}

.note-container {
  border: 1px solid hsl(0, 0%, 65%);
  padding: 0.8rem;
  border-radius: 0.5em;
  background-color: transparent;
  color: hsl(0, 0%, 80%);
  text-align: left;
}

.note-container h3 {
  margin-bottom: 12px;
}
